@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.pokemon {
    &__types {
        @include flexrow;
        @include page-layout($indent__xl, auto);
        flex-wrap: wrap;
        gap: $indent__base;

        a {
            display: inline-block;
            flex: 0 0 150px;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
        }
    }
}