@import '../styles/variables';
@import '../styles/mixins.scss';

* {
  box-sizing: border-box;
}

.header {
  @include flexrow;
  gap: $indent__base;

  @include responsive-tablet {
    padding: 0 $indent__m;
  }

  img {
    height: auto;
    width: 100%;
  }

  &__icon,
  &__avatar {
    display: none;

    @include responsive-tablet() {
      display: block;
      width: 150px;
    }
  }

  &__logo {
    flex-grow: 1;

    @include responsive-tablet {
      padding: 0 $indent__xxl;
    }
  }
}

.menu {
  padding: 0 $indent__l;
  @include flexrow;
  @include page-layout($indent__xl, auto);
  background-color: $background--primary;

  &__item {
    @include menu__item;

    &--home {
      @include menu__item($color-torch-red);
    }

    &--pokemon {
      @include menu__item($color-bright-sun);
    }

    &--types {
      @include menu__item($color-mailbu);
    }

    &--about {
      @include menu__item($color-minsk);
    }

    &.active {
      font-weight: bold;
    }
  }
}

.home-grid {
  @include responsive-mobile {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: $indent__m;
    grid-template-areas: ". . ."
                         "main main ."
                         "main main .";
  }

  &__article {
    
    img {
      height: auto;
      width: 100%;
    }

    &.primary {
      @include home-grid-article($color-bright-sun);
     
    }
    &.secondary {
      @include home-grid-article($color-mailbu);
    }
    &.tertiary {
      @include home-grid-article($color-minsk);
    }
    &.quaternary {
      @include home-grid-article($color-torch-red);
      grid-area: main;
    }

  }
    @include home-grid-article;
}

